h1 { color: blue;
}
p { color: black;
font-size: 12;
font-style: : italic
font-family:fantasy;
}
h2{
  color: blue;
  font-size: 12;
  font-family: fantasy;
  font-style: italic;
}
h3 {color: blue;
  font-size: 12;
  font-style:italic;
  font-family: fantasy;
}
h4 {color: blue
font style}
